.Bee{
  color: #095610;
  font-family: fantasy;
  font-size: 20.5px;
  flex-grow: 3;
  align-items: center ;
}
   .lee{
    color:rgb(150, 0, 0);
    font-family:fantasy;
    font-size: 20.5px;
    flex-grow: 3;
    background-color: ghostwhite;
    border: solid;
  }
  .lep{
    color:#5f4700;
    font-family:fantasy;
    font-size: 20.5px;
    
    flex-grow: 3;
    background-color: ghostwhite;
    border: solid;
  }
  .snow{
    color:#015319;
    font-family:fantasy;
    font-size: 20.5px; 
   
    flex-grow: 3;
    background-color: ghostwhite;
    border: solid;
  }

  .monkey{
    color:#000b6d;
    font-family:fantasy;
    font-size: 20.5px; 
    
    flex-grow: 3;
    background-color: ghostwhite;
    border: solid;
  }
  .Rihe{
    color:#015351;
    font-family:fantasy;
    font-size: 20.5px; 
   
    flex-grow: 3;
    background-color: ghostwhite;
    border: solid;
  }
  .sum{ color:#490036;
    font-family:fantasy;
    font-size: 20.5px; 
    
    flex-grow: 3;
    background-color: ghostwhite;
    border: solid;
  }

  .Doll{
    color:#000000;
    font-family:fantasy;
    font-size: 20.5px; 
    flex-grow: 3; 
    background-color: ghostwhite;
    border: solid;
  }
  .Img{
    color: white;
    font-size: 40.5px; 
    border:solid; 
    flex-grow: 3; 
    width:250px;
    height:300px ;
    background-color: ghostwhite;
  }
  body {
    font-family: Verdana, sans-serif;
    background-color: #608855;
    flex-grow: 3;
  }
  h2 {
    color: #39df8c;
  } 
  h3 {
    color: #0cb53e;
    margin-bottom: 10px;
  } 
  img {
    width: auto;
    height: 200px;
    border: 2px solid #003E1F;
    flex-grow: 2;
  }
  .Save{
    font-family:fantasy;
    font-size: 20.5px; 
    border:solid;
    flex-grow: 3;  
    box-align: Right;
    line-break: middle;
    color: #fcbe0b;
  } 


